# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Emacs backup files
*~

# autotool files
Makefile
config.h
config.log
config.status
lib/.deps/
lib/Makefile
libtool
plpa-1.1/Makefile
plpa-1.1/config/Makefile
plpa-1.1/src/Makefile
plpa-1.1/src/libplpa/.deps/
plpa-1.1/src/libplpa/Makefile
plpa-1.1/src/libplpa/plpa.h
plpa-1.1/src/libplpa/plpa_config.h
plpa-1.1/src/libplpa/stamp-h2
plpa-1.1/src/libplpa/stamp-h3
plpa-1.1/src/plpa-info/.deps/
plpa-1.1/src/plpa-info/Makefile
plpa-1.1/src/plpa-taskset/.deps/
plpa-1.1/src/plpa-taskset/Makefile
src/.deps/
src/Makefile
stamp-h1
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
m4
missing
ylwrap
plpa-1.1/Makefile.in
plpa-1.1/config/Makefile.in
plpa-1.1/src/Makefile.in
plpa-1.1/src/libplpa/Makefile.in
plpa-1.1/src/plpa-info/Makefile.in
plpa-1.1/src/plpa-taskset/Makefile.in
